In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame 

ratings = pd.read_csv("ratings.csv")

ratings['rating_range'] = ratings['rating'].replace([0, 0.5, 1.0, 1.5], 0) 
ratings['rating_range'] = ratings['rating_range'].replace([2.5, 3.0, 3.5, 2.0], 1) 
ratings['rating_range'] = ratings['rating_range'].replace([4.0, 4.5, 5.0], 2) 
ratings.head()

Drop = ['timestamp']

ratings.drop(ratings[Drop], axis = 1, inplace = True)

ratings.to_csv(r'C:\Users\jagan\OneDrive\Documents\9417\Project\New_dataset/Ranged_ratings.csv')

In [37]:
movies = pd.read_csv("movies.csv")
#movies.head()

genre_list = movies["genres"].str.split('|').tolist()

genre_dict = {"Action": 1,\
"Adventure": 2,\
"Animation": 3,\
"Children": 4,\
"Comedy": 5,\
"Crime": 6,\
"Documentary": 7,\
"Drama": 8,\
"Fantasy": 9,\
"Film-Noir": 10,\
"Horror": 11,\
"Musical": 12,\
"Mystery": 13,\
"Romance": 14,\
"Sci-Fi": 15,\
"Thriller": 16,\
"War": 17,\
"Western": 18,\
"(no genres listed)": 19}

genre_num = []
for genres in genre_list:
    num_list = []
    for genre in genres:
        if genre in genre_dict:
            num_list.append(str(genre_dict[genre]))
        else:
            num_list.append(str('-1'))
    genre_num.append("|".join(num_list))

movies["genre_no"] = genre_num
movies.head()

,movieId,title,genres,genre_no
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2|3|4|5|9
1,2,Jumanji (1995),Adventure|Children|Fantasy,2|4|9
2,3,Grumpier Old Men (1995),Comedy|Romance,5|14
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,5|8|14
4,5,Father of the Bride Part II (1995),Comedy,5

In [3]:
movies = pd.read_csv("movies.csv")
#movies.head()

genre_list = movies["genres"].str.split('|').tolist()
total_genre_name = []
genre_dict = dict()
for genres in genre_list:
    for genre in genres:
        if genre not in total_genre_name:
            total_genre_name.append(genre)

i = 0
for genre in sorted(total_genre_name, key=str.lower):
    genre_dict[genre] = i
    i += 1

    
genre_num = []
for genres in genre_list:
    num_list = []
    for genre in genres:
        if genre in genre_dict:
            num_list.append(str(genre_dict[genre]))
        else:
            num_list.append(str('-1'))
    genre_num.append("|".join(num_list))

movies["genre_no"] = genre_num
movies.head()

,movieId,title,genres,genre_no
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2|3|4|5|9
1,2,Jumanji (1995),Adventure|Children|Fantasy,2|4|9
2,3,Grumpier Old Men (1995),Comedy|Romance,5|15
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,5|8|15
4,5,Father of the Bride Part II (1995),Comedy,5